<footer class="site-footer">
  <div class="container inner">
    <div>&copy; {{ config.extra.year }} puml &mdash; MIT licensed &mdash; <a href="{{ config.extra.github_repo }}">source on GitHub</a></div>
    <div>
      <a href="{{ get_url(path='/guide/', trailing_slash=true) }}">Guide</a>
      &middot;
      <a href="{{ get_url(path='/gallery/', trailing_slash=true) }}">Gallery</a>
      &middot;
      <a href="{{ get_url(path='/editor/', trailing_slash=true) }}">Editor</a>
      &middot;
      <a href="{{ get_url(path='/developer/', trailing_slash=true) }}">Developer</a>
    </div>
  </div>
</footer>
